{{define "Photos"}}

<!DOCTYPE html>
<html lang="en">
  {{template "header"}}
  <!--

TemplateMo 552 Video Catalog

https://templatemo.com/tm-552-video-catalog

-->
  <body>
    <div class="tm-page-wrap mx-auto">
      <div class="position-relative">
        <div class="potition-absolute tm-site-header">
          <div class="container-fluid position-relative">
            <div class="row">
              <div class="col-7 col-md-4">
                <a href="/" class="tm-bg-black text-center tm-logo-container">
                  <i class="fas fa-video tm-site-logo mb-3"></i>
                  <h1 class="tm-site-name">PCAT</h1>
                </a>
              </div>
              <div class="col-5 col-md-8 ml-auto mr-0">
                <div class="tm-site-nav">{{template "navbar"}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="tm-welcome-container tm-fixed-header tm-fixed-header-1">
          <div class="text-center">
            <p
              class="pt-5 px-3 tm-welcome-text tm-welcome-text-2 mb-1 text-white mx-auto"
            >
              Background image can be fixed. Content will simply slide over.
            </p>
          </div>
        </div>

        <!-- Header image -->
        <div id="tm-fixed-header-bg"></div>
      </div>

      <!-- Page content -->
      <div class="container-fluid">
        <div class="mx-auto tm-content-container">
          <main>
            <div class="row mb-5 pb-4">
              <div class="col-12">
                <img
                  src="{{.Image}}"
                  alt="Image"
                  class="img-fluid tm-catalog-item-img"
                />
              </div>
            </div>
            <div class="row mb-5 pb-5">
              <div class="col-xl-8 col-lg-7">
                <!-- Video description -->
                <div class="tm-video-description-box">
                  <h2 class="mb-5 tm-video-title">{{.Title}}</h2>
                  <p class="mb-4">{{.Description}}</p>
                </div>
              </div>
              <div class="col-xl-4 col-lg-5">
                <!-- Share box -->
                <div class="tm-bg-gray tm-share-box">
                  <div class="text-center">
                    <a
                      href="/photos/edit/{{.ID}}"
                      class="btn btn-primary p-0 mb-4 tm-btn-animate tm-btn-download tm-icon-download"
                    >
                      <span>Update Details</span>
                    </a>
                  </div>
                  <div class="text-center">
                    <a
                      href="/photos/delete/{{.ID}}"
                      class="btn btn-danger p-0 tm-btn-animate tm-btn-download tm-icon-download"
                      onclick="return confirm('ARE YOU SURE?')"
                    >
                      <span>Delete Photo</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </main>

          <!-- row -->

          {{template "footer"}}
        </div>
        <!-- .tm-content-container -->
      </div>
    </div>

    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>
{{end}}
